# TOKEN_HASH_PEPPER="optional-secret-pepper"

ENVIRONMENT="dev"

APP_NAME="FastAPI Telegram Auth"
API_PREFIX="/v1"
CORS_ORIGINS="http://localhost:3000"

MYSQL_ROOT_PASSWORD="CHANGE_ME"
MYSQL_DATABASE="authdb"
DATABASE_URL="mysql+aiomysql://root:CHANGE_ME@127.0.0.1:3306/authdb"

TELEGRAM_BOT_TOKEN="xxx"
TELEGRAM_BOT_USERNAME="YourBotUserName"
WEB_APP_BASE_URL="http://localhost:3000"
WEB_APP_REGISTER_PATH="/register"
WEB_APP_RETRY_ACTIVATION_PATH="/retry-activation"
